{% extends 'base.html' %}


{% block main %}
   

{% for corrida in corridas %}

<div class="row">
    <div class="col s12 m4 l4">
        <div class="card-panel card hoverable white">
          <h5>Atividade do dia: {{corrida.data_da_corrida|date:'d-m-Y'}}</h5>
            <table class="centered">
                <tbody>
                <tr>
                    <td>
                        <h5>{{corrida.distancia}} Km</h5>
                        <h6 class="grey-text">Distância</h6>
                    </td>

                    <td>
                      <h5>{{corrida.sentimento}}</h5>
                      <h6 class="grey-text">Sentimento</h6>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="card-action center-align">
              <a class="btn orange darken-4 waves-effect waves-light" href="{% url 'run_update' corrida.id %}"><i class="material-icons">create</i> Editar </a>
            </div>

        </div>
    </div>
</div>


{% endfor %}

<div class="row">
  <ul class="pagination center-align">

    {% if corridas.has_previous  %}
      <li class="waves-effect"><a href="?page={{corridas.previous_page_number}}"><i class="material-icons">chevron_left</i></a></li>
      <li class="waves-effect"><a href="?page={{corridas.previous_page_number}}"> {{corridas.previous_page_number}} </a></li>
    {% endif %}

    <li class="active orange darken-4"><a href="#!"> {{ corridas.number }} </a></li>
      
    {% if corridas.has_next %}
      <li class="waves-effect"> <a href="?page={{ corridas.next_page_number }}"> {{ corridas.next_page_number }} </a></li>
      <li class="waves-effect"><a href="?page={{ corridas.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}

  </ul>
</div>


<script>
  var distancia = document.getElementById("id_distancia");
  var botao = document.getElementById("btnEnviar");
  botao.addEventListener('click', function () {
    dist = distancia.value;
    distancia.value = dist.replace(",", ".");
  })	
</script>

{% endblock main %}
