{% extends 'base.html' %}


{% block main %}

<div class="row">
    <form method="POST">
        {% csrf_token %}
  <div class="input-field col s12">
    <label for="distancia">Distância</label>
    <input type="text" class="validate" name="distancia" id="id_distancia" value="{{corridas.distancia}}" required />
  </div>
  <div class="input-field col s12">
    <input type="time" step="1" name="tempo" id="hora" placeholder="id_tempo" value="{{corridas.tempo}}">
  </div>
  <div class="input-field col s12">
      <input type="text" class="datepicker" name="data_da_corrida" id="id_data_da_corrida" placeholder="Data da Corrida" value="{{corridas.data_da_corrida|date:'d/m/Y'}}" required />
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" name="sentimento" id="id_sentimento" value="{{corridas.sentimento}}" placeholder="Sentimento" />
  </div>
  <div class="input-field col s12">
      <input type="text" class="validate" name="observacoes" id="id_observacoes" value="{{corridas.observacoes}}" placeholder="Observações" />
  </div>
</div>

<button type="submit" id="btnEnviar" class="btn orange darken-4 waves-effect waves-light">Salvar</button>
<a class="modal-action modal-close btn red darken-4 waves-effect waves-light" href=" {% url 'dashboard' %} ">Cancelar</a>

</form>

{% endblock main %}